.pos {
    padding-top: 150px;
}

.about-container {
    width:85%;
    margin: 0 auto;
}

.about-container h1 {
  font-size: 60px;
  margin-bottom: 20px;
  color: #b56bff;
  text-align: center;
  letter-spacing: 2px;
}

@media (max-width: 650px) {
  .about-container h1 {
    font-size: 45px;
  }
}

.about-container h2 {
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 16px;
  color: #75eaff;
  text-align: center;
}

@media (max-width: 650px) {
  .about-container h2  {
    font-size: 30px;
  }
}

.about-container p {
  font-size: 20px;
  margin-bottom: 18px;
  text-align: center;
}

.about-container ul {
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
}

.about-container ul li {
  margin-bottom: 10px;
}

.about-container a {
  color: #75eaff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.about-container a:hover {
  color: #b56bff;
  text-decoration: underline;
}

.gal-dim {
  width: 200px;
  margin: 0 auto;
}