.galaxies-section {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galaxies-section-title {
    font-size: 3rem;
    color: #cfbbfc;
    margin-top: 54px;
    margin-bottom: 12px;
    letter-spacing: 2.2px;
    font-weight: 800;
    text-shadow: 0 0 16px #c9b4fa88, 0 0 2px #fff3;
    text-align: center;
}

.galaxies-section-desc {
    font-size: 1.24rem;
    color: #efeefd;
    margin-bottom: 48px;
    text-align: center;
    letter-spacing: 0.15px;
    font-weight: 500;
}

.galaxies-cards-container {
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.galaxy-card {
    background: rgba(13, 12, 28, 0.97);
    border-radius: 34px;
    box-shadow: 0 0px 48px #cfbbfc34;
    width: 430px;
    min-width: 370px;
    max-width: 490px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 12px 34px 12px;
    transition: box-shadow 0.16s, transform 0.14s;
    cursor: pointer;
    transition: 0.5s ease;
}

.galaxy-card:hover {
    box-shadow: 0 4px 62px #cfbbfc86;
    transform: scale(1.05);
    transition: 0.5s ease;
}

.galaxy-card-image {
    width: 400px;
    height: 260px;
    object-fit: contain;
    background: transparent;
    margin-bottom: 38px;
    margin-top: 22px;
    box-shadow: none;
    border-radius: 0;
    display: block;
}

.galaxy-card-title {
    font-size: 2.24rem;
    color: #8d5fff;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.05;
    text-shadow: 0 0px 10px #8d5fff44;
}

.galaxy-card-description {
    min-height: 50px;
    color: #d0d0d0;
    font-weight: 500;
    font-size: 1.15rem;
    letter-spacing: 0.7px;
    margin-top: 0;
    text-align: center;
    text-shadow: 0 2px 16px #19183188;
    background: none;
    border-radius: 0;
    padding: 0;
    opacity: 0.96;
}

.pos-gal {
    padding-top: 100px;
}