/* WRAPPER GENERALE */
.mw-wrapper {
  padding: 60px 0;
  color: #fff;
}

/* HEADER */
.mw-header {
  text-align: center;
  margin-bottom: 60px;
}

.galaxy-header-icon {
  width: 200px;
  display: block;
  margin: 0 auto 20px;
  animation: galaxySpin 20s linear infinite;
  filter: drop-shadow(0 0 18px rgba(150, 90, 255, 0.9));
}

@keyframes galaxySpin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mw-header h1 {
  font-size: 48px;
  font-weight: 700;
  color: #c5b3ff;
  text-shadow: 0 0 12px rgba(150, 90, 255, 0.7);
}

.mw-header p {
  font-size: 17px;
  max-width: 600px;
  margin: 10px auto 0;
  opacity: 0.8;
}

/* TITOLO PIANETI */
.mw-subtitle {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: #bfaaff;
}

.mw-subtitle span {
  color: #8f7cff;
}

/* GRID */
.mw-cards-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 35px;
}

/* CARD */
.mw-card {
  position: relative;
  padding: 35px 25px;
  border-radius: 26px;
  height: 390px;
  background-size: contain;
  background-position: center 75px;
  background-repeat: no-repeat;
  background-color: rgba(10, 0, 28, 0.55);
  box-shadow: 0 0 25px rgba(120, 70, 255, 0.3);
  transition: 0.35s ease;
  overflow: hidden;
}

.mw-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent;
  z-index: 1;
  transition: 0.35s ease;
}

.mw-card:hover::before {
  backdrop-filter: blur(6px);
  background: rgba(10, 0, 25, 0.75);
}

.mw-card h3 {
  position: relative;
  z-index: 3;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #e8d7ff;
  transition: 0.25s ease;
}

.mw-card h3:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #caaeff;
}

.mw-bottom {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(15px);
  transition: 0.35s ease;
  z-index: 3;
}

.mw-card:hover .mw-bottom {
  opacity: 1;
  transform: translateY(0);
}

.mw-desc {
  font-size: 15px;
  opacity: 0.9;
  margin-bottom: 12px;
}

.mw-divider {
  width: 70%;
  height: 2px;
  margin: 10px auto 15px;
  background: rgba(132, 54, 184, 0.55);
  border-radius: 6px;
}

.mw-explore {
  display: inline-block;
  color: #caaeff;
  text-decoration: none;
  font-size: 16px;
  transition: 0.25s ease;
  cursor: pointer;
}

.mw-explore:hover {
  color: #ffffff;
  text-shadow: 0 0 14px #caaeff;
}

.mw-card:hover {
  transform: scale(1.06);
  box-shadow: 0 0 45px rgba(180, 120, 255, 0.7);
  cursor: pointer;
}

/* SFONDO PAGINA */
.galaxy-page {
  min-height: 100vh;
  padding: 40px 20px;
  color: #fff;
  background-color: #050011;
  background-image:

  /* STELLE SFONDO PAGINA*/
  radial-gradient(1px 1px at 10% 5%, rgba(255,255,255,0.7), transparent 60%),
  radial-gradient(1px 1px at 95% 8%, rgba(255,255,255,0.6), transparent 60%),
  radial-gradient(1px 1px at 8% 95%, rgba(255,255,255,0.55), transparent 60%),

  radial-gradient(circle at 50% 50%, rgba(200, 100, 255, 0.12), transparent 65%),

  radial-gradient(circle at center,
    rgba(20, 0, 40, 0.4) 0%,
    rgba(8, 0, 20, 0.75) 55%,
    rgba(2, 0, 5, 1) 100%
  );
}
